.navigation {
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  &__split {
    display: flex;
    gap: 16px;
  }

  &__search {
    position: relative;
    width: 350px;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 599px;
    & input,
    & button {
      border: none;
      outline: none;
      background: transparent;
    }
    & input {
      width: 100%;
      height: inherit;
      padding: 0 16px 0 40px;
      left: 40px;
      top: calc(50% - 18px / 2);
      color: #a7a7a7;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      caret-color: rgb(248, 54, 0);
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #a7a7a7;
      }
      &:focus ~ button {
        svg path {
          fill: #f83600;
        }
      }
    }
    & input {
      &::-webkit-search-results-decoration,
      &::-webkit-search-results-button,
      &::-webkit-search-cancel-button {
        display: none;
        width: 0;
        height: 0;
      }
    }
    &_btn {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 16px;
      top: calc(50% - 16px / 2);
      cursor: pointer;
    }
    &_close {
      display: none;
    }
  }
  &__rating {
    border: none;
    position: relative;
    height: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: row;
    padding: 10px 16px 10px 40px;
    gap: 8px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 599px;
    z-index: 1;
    color: #a7a7a7;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }

    &_img {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 16px;
      top: calc(50% - 16px / 2);
      z-index: 0;
      transform: rotate(180deg);
      &.descending {
        transform: rotate(0deg);
      }
    }
  }
  &__loc-tile,
  &__loc-list {
    border: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
      drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &_img path {
      fill: #a7a7a7;
      width: 19px;
      height: 19px;
    }
    &.active {
      background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
      path {
        fill: #ffffff;
      }
    }
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .navigation {
    &__search {
      width: 150px;
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .navigation {
    &__split {
      gap: 8px;
    }
    &__search {
      &_btn {
        left: 10px;
      }
    }
    &__rating {
      &_img {
        left: 10px;
      }
    }
    &__rating {
      min-width: 38px;
      height: 38px;
      padding: 0;

      span {
        display: none;
      }
    }
    &__search {
      width: fit-content;
      padding: 0;
    }
  }
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
  .navigation {
    &__search {
      max-width: 274px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__rating {
      width: 100%;
      max-width: 142px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &_img {
        left: 8px;
      }
    }
  }
}
@media only screen and (min-width: 321px) and (max-width: 450px) {
  .navigation {
    &__split {
      gap: 8px;
    }
    &__search {
      max-width: 274px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__rating {
      min-width: 38px;
      min-height: 38px;
      padding: 0;
      span {
        display: none;
      }
      &_img {
        left: 8px;
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .navigation {
    height: 38px;
    display: flex;
    align-items: center;
    &__split.search_active:first-child {
      width: 100%;
    }
    &__split.search_noactive {
      width: fit-content;
    }
    &__search {
      width: 32px;
      height: 32px;
      & input.search_noactive {
        display: none;
      }
      & input.search_active {
        padding-left: 16px;
      }
      &_btn.search_active {
        display: none;
      }
      &_btn.search_noactive {
        left: 9px;
      }
      &.search_active,
      &.search_active + div {
        width: 100%;
      }
      &_close.search_active {
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        right: 19px;
        top: calc(50% - 12px / 2);
        cursor: pointer;
      }
      &_close.search_noactive {
        display: none;
      }
    }

    &__rating {
      width: 32px;
      height: 32px;
      width: 32px;
      height: 32px;
      padding: 0;
      user-select: none;
      span {
        display: none;
      }

      &_img {
        left: 8px;
      }
      &.search_active {
        display: none;
      }
    }
    &__loc-tile,
    &__loc-list {
      width: 32px;
      height: 32px;
      &.search_active {
        display: none;
      }
    }
  }
}
