.footer {
  max-width: 100%;
  min-height: 56px;
  border-top: 1px solid #bfc4c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #363636;
  }
  &__social {
    width: 168px;
    display: flex;
    gap: 24px;
    &_link .link-img {
      min-width: 24px;
      height: 24px;
    }
  }
}
@media only screen and (min-width:321px) and (max-width:768px) {
  .footer {
    &__copy {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space:nowrap;
    }
  }
}
@media only screen and (max-width:320px) {
  .footer {
    min-height: 104px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 8px;
    gap: 16px;
    &__copy {
      width: 220px;
      text-align: center;
    }
  }
}
